[Unit]
Description=SmartGarden Controller
After=network.target

[Service]
ExecStart=/usr/local/bin/SmartGarden-Controller
ExecStartPre=/usr/local/bin/SmartGarden-Output * 0
ExecStopPost=/usr/local/bin/SmartGarden-Output * 0
User=pi
Group=pi
Restart=on-failure
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target